<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-card *ngFor="let proyecto of proyectos">
        <ion-card-header>
          <ion-card-subtitle>Capacitación</ion-card-subtitle>
          <ion-card-title>Introducción python</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Este curso brinda a los estudiantes los fundamentos del lenguaje python en su versión mas actualizada, así como los conceptos de entorno de trabajo visual y de consola. Los estudiantes aprenderán las características particulares del lenguaje para poder aplicarlos a conceptos generales de programación tanto como los motivos de la popularidad del lenguaje.
        </ion-card-content>
        <ion-item href="#" class="activated">
          <ion-icon name="play" slot="start"></ion-icon>
          <ion-label>01/01/2019 </ion-label>
        </ion-item>
        <ion-item href="#" class="activated">
          <ion-icon name="stopwatch" slot="start"></ion-icon>
          <ion-label>01/01/2019</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>

    <!-- <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Capacitación</ion-card-subtitle>
          <ion-card-title>Introducción python</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Este curso brinda a los estudiantes los fundamentos del lenguaje python en su versión mas actualizada, así como los conceptos de entorno de trabajo visual y de consola. Los estudiantes aprenderán las características particulares del lenguaje para poder aplicarlos a conceptos generales de programación tanto como los motivos de la popularidad del lenguaje.
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>
</ion-grid>
</ion-content>
